<!DOCTYPE html>
<html>
  <head>
    <title>Producer</title>
    <%= stylesheet_link_tag 'admin', 'scaffold' %>
    <%= javascript_include_tag "vendor/jquery", "rails" %>
    <%= csrf_meta_tag %>
  </head>
  <body>

    <div id="wrapper">
      <div id="header">
        <div id="main-nav">
          <%= menu do |m| %>
            <%= m.dashboard 'Dashboard', "#" %>
            <%= m.posts 'Posts', admin_posts_path %>
            <%= m.assets 'Assets', admin_assets_path %>
            <%= m.changelog 'Changelog', "#" %>
            <%= m.faqs 'FAQ', "#" %>
            <%= m.inquiries 'Inquiries', "#" %>
          <% end %>
        </div>
      </div>
    </div>

    <div id="content-wrapper">
      <div id="content">
        <div id="in">
          <ul>
            <%= flash_messages %>
            <%= yield %>
          </ul>
        </div>
      </div>
    </div>
    
    <%= yield :bottom %>
  </body>
</html>

